/*reset CSS*/

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/*common styles*/

body {
  background-color: white;
  font-size: 36px;
  font-family: 'Great Vibes', Arial, sans-serif cursive;
  background-image: url("../images/inne/rose4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#main-container {
  width: 960px;
  /*height: 100vh; /*zakomentować*/*/
  margin: 0 auto;
  border-left: 3px double #ccc;
  border-right: 3px double #ccc;
  border-radius: 3%;
  box-shadow: 0px 10px 30px #69333E;
  background-color: floralwhite;
}

.main-width {
  /*width: 100%;*/
}

.main-width::after {
  clear: both;
  content: "";
  display: block;

}

nav {
  width: 955px;
  height: 110px;
  margin: 0 auto;
  align-items: center;
  border-radius: 20px 20px 10px 10px;
  /*border: 1px solid red;*/
}

.menu-left {
  position: relative;
  right: 15px;
  padding-top: 20px;
  padding-left: 18px;
  /*padding-right: 15px;*/
  float: left;
  width: 42%;
  height: 100px;
  /*border: 1px solid black;*/
  /*margin-left: 5px;*/
  border-bottom: 3px double lightgrey;
  border-radius: 25px 0px 0px 25px;
  box-shadow: -5px 2px 15px #47000E;
  background-color: floralwhite;
}

/*.menu-left::after{
  display: block;
  content: "";
  color: green;
}*/

.menu-right {
  position: relative;
  left: 15px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  width: 42%;
  height: 100px;
  /*border: 1px solid black;*/
  /*margin-right: 10px;*/
  border-bottom: 3px double lightgrey;
  border-radius: 0px 25px 25px 0px;
  box-shadow: 5px 2px 15px #47000E;
  background-color: floralwhite;
}

.nav-logo {
  float: left;
  width:16%;
  /*height: 100px;*/
  /*border: 1px solid yellow;*/
  background-color: floralwhite;
  text-align: center;
  /*padding-right: 17px;*/
  height: 140px;
}

#logo {
  height: 180px;
  width: 200px;
  /*margin: 5px;*/
  /*border: 1px solid red;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2%;
  box-shadow: 0px 5px 10px #47000E;
  transition: 0.2s;
  transition-delay: 0.1s;
  border: 1px solid black;
  z-index: 1;
}

#logo:hover {
  width:183px;
  box-shadow: 0px 5px 20px #47000E;
  border: 1px solid darkgoldenrod;
}

.menu-list li{
  cursor: pointer;
  font-family: 'Great Vibes', Arial;
  width: 110px;
  height: 45px;
  font-size: 24px;
  float: left;
  list-style-type: none;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 3px;
  padding-top: 7px;
  text-align: center;
  letter-spacing: 2px;
  color: #47000E;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px #47000E;
  border: 3px double saddlebrown;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(35%, rgba(246,246,246,1)), color-stop(100%, rgba(230,184,193,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6b8c1', GradientType=0 );
  transition: 0.2s;
}

.menu-list a:link {
  text-decoration: none;
  color: darkgoldenrod;
}

.menu-list a:visited {
  text-decoration: none;
  color: #47000E;
}

.menu-list li:hover{
  box-shadow: 7px 7px 10px #47000E;
  /*width: 115px;*/
  /*height: 50px;*/
  transform: translateX(-3%);
  color: darkgoldenrod;
  border-radius: 13px 13px 13px 13px;
  border: 3px double darkgoldenrod;
}

.menu-list li:active{
  color: darkgoldenrod;
  /*width: 105px;*/
  /*height: 40px;*/
  top: 3px;
  left: 5px;
  position: relative;
  box-shadow: 2px 2px 5px #47000E;
  text-decoration: none;
}


#slider {
  width: 700px;
  height: 370px;
  overflow: auto;
  position: relative;
  top: -17px;
  z-index: 0;
  transition: 0.5s;
  box-shadow: 10px 10px 20px #47000E;
  border: 10px double wheat;
}

#slider:hover {
  transform: scale(1.1);
  top: -10px;
  transition-delay: 0.4s ease;
  box-shadow: 10px 10px 40px #47000E;
  border: 3px double wheat;
  /*padding: 3px;*/
}

#slider .slides {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  margin: 0;
}

#slider img{
  display: none;
  width: 100%;
  height: 100%;
  transition: 1s;
  z-index: -2;
}

#slider img:hover{

  cursor: pointer;
  transform: scale(1.2);
  opacity: 0.9;
  position: relative;
}

#slider img.active {
  display: inline-block;
  transition: 1s;
  z-index: -1;
}


/*hovery dla galerii*/

.div-color1:hover, .div-color3:hover {
  /*transform: skewX(-0deg);*/
  transform: scale(1.5);
  width: 26%;
  top: 0px;
  border-radius: 1%;
  box-shadow: 6px 6px 10px #47000E;
  /*z-index: 3:*/
  border: 1px double wheat;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  animation: slides-down 0.4s alternate ease-in;
}

.div-color2:hover, .div-color4:hover {
  /*transform: skewX(-0deg);*/
  transform: scale(1.5);
  width: 26%;
  top: -30px;
  border-radius: 1%;
  box-shadow: 10px 10px 30px #47000E;
  border: 1px double wheat;
  background-color: white;
  z-index: 1;
  cursor: pointer;
  /*animation: slides-up 0.6s alternate ease;*/
}

@keyframes slides-down {

  0% {transform: skewX(-7deg);}
  100% {transform: skewX(-7deg);}

}

@keyframes slides-up {

  0% {transform: skewX(-7deg);}
  100% {transform: skewX(-7deg);}

}
/*--------------------------------------------*/

.div-color1 {
  /*background-color: red;*/
  width: 24%;
  height: 170px;
  margin-top: 50px;
  margin-left: -2px;
  margin-right: -2px;
  position: relative;
  top: -30px;
  float: left;
  transform: skewX(-7deg);
  margin-bottom: 15px;
  /*box-shadow: 10px 10px 30px #47000E;*/
  transition: 0.3s;
  /*z-index: 1;*/

}


.div-color2 {
  /*background-color: green;*/
  width: 24%;
  height: 170px;
  margin-top: 50px;
  position: relative;
  top: 0px;
  margin-left: -2px;
  margin-right: -2px;
  float: left;
  transform: skewX(-7deg);
  margin-bottom: 15px;
  /*box-shadow: 6px 6px 10px #47000E;*/
  transition: 0.3s;
  /*z-index: 0;*/
}
.div-color3 {
  /*background-color: blue;*/
  width: 24%;
  height: 170px;
  margin-top: 50px;
  position: relative;
  margin-left: -2px;
  margin-right: -2px;
  float: left;
  transform: skewX(-7deg);
  margin-bottom: 15px;
  /*box-shadow: 10px 10px 30px #47000E;*/
  transition: 0.3s;
  top: -30px;
  /*z-index: 1;*/

}
.div-color4 {
  /*background-color: yellow;*/
  width: 24%;
  height: 170px;
  margin-top: 50px;
  position: relative;
  margin-left: -2px;
  margin-right: -2px;
  float: left;
  transform: skewX(-7deg);
  margin-bottom: 15px;
  /*box-shadow: 6px 6px 10px #47000E;*/
  transition: 0.3s;
  top: 0px;
  /*z-index: 0;*/

}

#welcome{
  margin-top: 30px;
}

.background {
  float: left;
  width: 103%;
  height: 375px;
  left: -15px;
  position: relative;
  /*height: 300px;*/
  border-top: 3px double lightgrey;
  border-bottom: 3px double lightgrey;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 2px 30px #47000E;
  background-color: floralwhite;
  text-align: center;
  background-image: url("../images/inne/bez4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-button {
  text-align: center;
  height: 100px;
  width: 300px;
  display: inline-block;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px;
  color: #47000E;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px #47000E;
  border: 3px double saddlebrown;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(35%, rgba(246,246,246,1)), color-stop(100%, rgba(230,184,193,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(230,184,193,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6b8c1', GradientType=0 );

}



.span-headers {
  font-family: 'Great Vibes', Arial, sans-serif;
  font-size: 40px;
  display: inline-block;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.span-subheaders {
  font-family: 'Great Vibes', Arial, sans-serif;
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: -15px;
  letter-spacing: 2px;
}

#welcome .span-text {
  color: white;
  font-family:  'Great Vibes', Arial, sans-serif;
  width: 900px;
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 34px;


}
.span-text .Socha {
  font-size: 42px;
}


.gallery-section {
  height: 620px;
  left: 25px;
  position: relative;
}

.gallery-section img {
  position: relative;
  /*top: 50%;
  left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*transform: skewX(7deg);*/
  width: 100%;
  height: 100%;
  /*left: -1px;*/
  /*top: 20px;*/
  box-shadow: 6px 6px 40px #47000E;
  transition: 0.3s;

}

.gallery-section img:hover {
  box-shadow: 0px 0px 0px #fff;

  border-radius: 3%;

}

#images-show {
  margin-top: 30px;
  margin-bottom: 15px;
  /*height: 360px;*/
  text-align: center;
  /*padding-left: 20px;*/
}

#images-show .section-button {
  height: 50px;
  width:  240px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  left: -25px;
}

#about{
  text-align: center;
  margin-top: 50px;
  height: 450px;
}

#about .section-button{
  height: 100%;
  padding-top: 12px;
  margin-bottom: 40px;
  height: 50px;
  width: 234px;
}

.about.text-section{
  text-align: justify;
  font-size: 20px;
  display: block;
  float: left;
  width: 430px;
  height: 300px;
  position: relative;
  left: 5%;
  margin-left: 20px;
}

.about.photo {
  display: block;
  float: left;
  width: 250px;
  height: 300px;
  position: relative;
  left: 15%;
}

.about.photo img{

  width: 250px;
  height: 300px;
}

.slider-prev {
  float: left;
  position: relative;
  top: 170px;
  left: -525px;
  width: 40px;
  text-align: center;
  display: inline-block;
  /*padding-right: 3px;*/
  padding-top: 2px;
  font-size: 32px;
  background-color: lightgrey;
  border-radius: 20%;
  box-shadow: 1px 1px 2px darkgoldenrod;
  font-weight: bold;
  opacity: 0.8;
  border: 1px solid darkgrey;
  color: #69333E;
}

.slider-prev:hover, .slider-next:hover{
  opacity: 1;
  box-shadow: 2px 2px 4px darkgoldenrod;
  border: 1px solid #47000E;
  /*font-size: 28px;*/
  border-radius: 25%;
  cursor: pointer;
}

.slider-next {
  float: left;
  color: #47000E;
  position: relative;
  top: 170px;
  left: 290px;
  width: 40px;
  text-align: center;
  display: inline-block;
  /*padding-left: 3px;*/
  padding-top: 2px;
  font-size: 32px;
  background-color: lightgrey;
  border-radius: 20%;
  box-shadow: 1px 1px 5px darkgoldenrod;
  font-weight: bold;
  border: 1px solid darkgrey;
  opacity: 0.8;
}
