/*reset CSS*/

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/*common styles*/

body {
  background-color: white;
  font-size: 36px;
  font-family: 'Great Vibes', Arial, sans-serif cursive;
}

#main-container {
  width: 960px;
  height: 100vh; /*zakomentować*/
  margin: 0 auto;
  border-left: 3px double #ccc;
  border-right: 3px double #ccc;
  border-radius: 3%;
  box-shadow: 0px 10px 50px #ccc;
}

.main-width {
  /*width: 100%;*/


}

.main-width::after {
  clear: both;
  content: "";
  display: block;

}

nav {
  width: 960px;
  height: 100px;
  border: 1px solid red;
  align-items: center;
  border-radius: 20px 20px 10px 10px;
  margin: 0 auto;
}

.menu-left, .menu-right {
  border: 1px solid black;
  width: 33%;
  height: 100px;
  float: left;
}

.nav-logo {
  float: left;
  width:34%;
  border: 2px solid green;
  height: 100px;
}
