/*reset CSS*/

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

/*common styles*/

body {
  background-color: white;
  font-size: 36px;
  font-family: 'Great Vibes', Arial, sans-serif cursive;
}

#main-container {
  width: 960px;
  /*height: 100vh; /*zakomentować*/*/
  margin: 0 auto;
  border-left: 3px double #ccc;
  border-right: 3px double #ccc;
  border-radius: 3%;
  box-shadow: 0px 10px 50px #ccc;
}

.main-width {
  /*width: 100%;*/


}

.main-width::after {
  clear: both;
  content: "";
  display: block;

}

nav {
  width: 960px;
  /*height: 100px;*/
  margin: 0 auto;
  align-items: center;
  border-radius: 20px 20px 10px 10px;
  border: 1px solid red;
}

.menu-left, .menu-right {
  float: left;
  width: 33%;
  /*height: 100px;*/
  border: 1px solid black;
}

.nav-logo {
  float: left;
  width:34%;
  /*height: 100px;*/
  /*border: 1px solid yellow;*/
}

#slider {
  height: 400px;
  /*border: 1px solid orange;*/
}

#images-show {
  height: 150px;
  /*border: 1px solid red;*/
}

footer {
  height: 70px;
  /*border: 1px solid purple;*/

}

#logo {
  width: 120px;
  margin: 5px;
  /*border: 1px solid red;*/
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10%;
  box-shadow: 0px 5px 20px #47000E;
}
